page-intro {
    .slide_image img {
        width: 240px;
    }
    p.text-slide {
        font-family: roboto;
        font-size: 18px;
        color: #444;
    }
    h1.title-slide {
        font-family:  roboto;
        color: #3498db;
        font-size: 30px;
    }
}
